<div class="control-section">
  <div id="properties">
    <table><tr><th><h5>After changing the panel positions, Click on <b style="color:red">Save</b> button to save the state of Dashboard Layout, then you can retain the same configuration of Dashboard Panels by clicking <b style="color:red">Restore</b> button, after repositioning the Dashboard panels </h5></th></tr></table>
    <div style="margin-top:20px;">
      <button ejs-button id='saveBtn' #saveBtn cssClass="e-primary" (click)='onSaveClick($event)'>Save</button>
      <button ejs-button id='restoreBtn' #restoreBtn cssClass="e-flat e-outline" (click)='onrestoreClick($event)'>Restore</button>
    </div>
  </div>
  <div class="inline" id="control">
    <ejs-dashboardlayout id='dashboard_default' #defaultLayout [columns]='6' [cellSpacing]='cellSpacing'
                         [panels]='panels'>
    </ejs-dashboardlayout>
  </div>

</div>
